/run/
/.idea/shelf/Logs/380df991-f603-344c-a090-369bad2a924a.dat
/.idea/shelf/Logs/2020-07-07-1.log.gz
/.idea/shelf/Logs/2020-07-07-2.log.gz
/.idea/shelf/Logs/2020-07-07-5.log.gz
/.idea/shelf/Logs/2020-07-07-6.log.gz
/.idea/shelf/Logs/2020-07-07-7.log.gz
/.idea/shelf/Logs/2020-07-07-8.log.gz
/.idea/shelf/Logs/2020-07-07-9.log.gz
/.idea/shelf/Logs/2020-07-07-10.log.gz
/.idea/shelf/Logs/2020-07-07-11.log.gz
/.idea/shelf/Logs/2020-07-07-12.log.gz
/.idea/shelf/Logs/2020-07-07-13.log.gz
/.idea/shelf/Logs/2020-07-07-14.log.gz
/.idea/shelf/Logs/2020-07-07-15.log.gz
/.idea/shelf/Logs.xml
/.idea/shelf/Logs/shelved.patch
